{% extends "base.html" %} {% load static %} {% block content %}
<div class="index-image-container">
  <img
    class="index-img d-block w-100"
    src="{% static 'images/index-page/car-img2.jpeg' %}"
    alt="..."
  />
  <div class="effect"></div>
</div>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10 col-md-12">
    <div class="row cards-container">
      {% for product in products %}
      <div class="col-lg-4 col-md-6 my-4 px-3">
        <div class="card">
          <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.images.all.0.image.url }}" /></a>
          <div class="card-body">
            <h5 class="card-title">{{ product.name|truncatewords:7 }}</h5>
            <div class="card-footer">
              <p>
              <a href="{{ product.get_absolute_url }}" class="btn-see-more">See more</a><span class="price">${{ product.price }}</span></p>
              <form action="{% url 'cart:cart_add' product.id %}" method="post" class="to-cart-btn-form">
                <input type="hidden" name="quantity" value="1" id="id_quantity">
                <input type="hidden" name="update" value="False" id="id_update">
                {% csrf_token %}
                <button class="btn-to-cart" type="submit"><img class="add-to-cart" src="{% static 'images/plus-icon.png' %}" alt=""></button>
            </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ page_obj.number }}
          </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
