{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-12">
        {% for img in product.images.all %}
        <img src="{{ img.image.url }}" alt="img{{ forloop.counter }}" class="product-show-img">
        {% endfor %}

    </div>
    <div class="col-lg-6 col-md-12 product-details">
        <h1>{{ product.name }}</h1>
        <p class="price">${{ product.price }}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_add_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary" >Add to cart</button>
        </form>
        <p><a href="{% url 'reviews' %}" class="nav-link">Reviews(3)</a></p>
        <br>
        {{ product.description|linebreaks }}
    </div>
</div>
{% endblock %}